#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

#body {
    background-image: url('/images/cottonCandyBackground.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.profilePic {
    border-radius: 50%;
    border: 8px solid #313335;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.socialMediaIcons {
    width: 45px;
    height: 45px;
    margin: 0px 5px 0px 5px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/*---Fonts---*/
.fonts {
    font-family: "Gill Sans";
    font-weight: 150;
    font-size: 20px;
}
.mediumFont {
    font-family: "Gill Sans";
    font-weight: 150;
    font-size: 25px;
    padding-bottom: 0px;
}
.headerFont {
    font-family: "Gill Sans";
    font-weight: 500;
    font-size: 30px;
}

.test {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.experienceLogos {
    border-radius: 15%;
    width: 180px;
    height: 180px;
    margin-right: 20px;
}